.App {
  text-align: center;
}

.main-bg{
  height: 500px;
  background-image:url('/public/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.navbar-nav a{
  text-decoration: none;
  color:#fff;
  margin-right: 10px;
}

.ms-auto{
  color:#fff;
}
.container{}
.row{justify-content: space-between !important;}
.row .col{width: 30% !important; flex:none;}

.start {
  opacity : 0;
}

.end {
  opacity: 1;
  transition : opacity 0.5s;
}